.document {
    .header {
        width: 100%;
        height: 75px;
        padding-left: 11px;
        .logo {
            width: 123px;
            height: 62px;
            vertical-align: top;
        }
        .search-box {
            display: inline-block;
            margin-top: 15px;
            .input-box {
                width: 674px;
                height: 36px;
                border: 2px solid #00ccff;
                border-radius: 15px;
                input {
                    outline: none;
                    border: none;
                    width: 545px;
                    height: 22px;
                    margin: 5px 0 5px 15px;
                    font-size: 12px;
                }
                .search-btn {
                    display: inline-block;
                    width: 110px;
                    height: 32px;
                    background: #00ccff;
                    border-radius: 13px;
                    cursor: pointer;
                    span {
                        display: inline-block;
                        line-height: 32px;
                        margin-left: 10px;
                        color: #fff;
                        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
                        letter-spacing: 4px;
                    }
                }
            }
            .keyWord-box {
                margin: 5px 0 0 15px;
                ul {
                    display: inline-block;
                    li {
                        cursor: pointer;
                        span {
                            color: #0099FF;
                        }
                    }
                }
            }
        }
        .member-box {
            display: inline-block;
            min-width: 405px;
            text-align: right;
            vertical-align: top;
            padding-left: 130px;
            margin-top: 15px;
            span {
                font-family: '黑体 Bold', '黑体 Regular', '黑体';
                font-size: 15px;
                color: #FFCC33;
                font-weight: 700;
            }
            a {
                text-decoration: none;
                font-family: '黑体 Bold', '黑体 Regular', '黑体';
                font-size: 15px;
                color: #FFCC33;
                font-weight: 700;
            }
            a:hover {
                color: rgb(0, 204, 255);
            }
            .split-line {
                color: #666;
                display: inline-block;
                text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.64);
                margin-right: 10px;
            }
            .line-one {
                min-width: 100px;
                height: 21px;
            }
            .line-two {
                margin-top: 10px;
                .developer {
                    cursor: pointer;
                }
            }
        }
    }
    .nav {
        margin-left: 11px;
        margin-top: 30px;
        height: 46px;
        width: 1240px;
        background: linear-gradient(180deg, rgba(0, 153, 255, 0.6) 0%, rgba(0, 153, 255, .6) 0%, rgba(0, 153, 255, .6) 45%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
        border-radius: 5px;
        padding-left: 20px;
        li {
            width: 110px;
            cursor: pointer;
            position: relative;
            text-align: center;
            span {
                font-size: 15px;
                font-weight: 700;
                color: #fff;
                line-height: 46px;
            }
            .small-box {
                position: absolute;
                width: 110px;
                background: #99CCFF;
                text-align: center;
                display: none;
                z-index: 999;
                p {
                    margin: 0;
                    font-size: 15px;
                    font-weight: 700;
                    color: #fff;
                    line-height: 45px;
                }
                p:hover {
                    color: rgb(255, 204, 51);
                }
            }
        }
        li:hover {
            span {
                color: rgb(255, 204, 51);
            }
        }
    }
    iframe {
        width: 100%;
        min-height: 1600px;
    }
}

.nav-contact {
    position: fixed;
    right: 0;
    top: 300px;
    ul {
        position: absolute;
        right: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        min-width: 50px;
        min-height: 200px;
        border-radius: 20px;
        border: 2px solid #00ccff;
        background: #fff;
        li {
            width: 73px;
            height: 73px;
            text-align: center;
            border-bottom: 1px solid #0099FF;
            img {
                width: 60%;
            }
            p {
                font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
                font-weight: 700;
                font-style: normal;
                font-size: 14px;
                color: #00CCFF;
            }
        }
        .top-btn {
            cursor: pointer;
        }
        .third-li {
            cursor: pointer;
        }
        li:last-child {
            border-bottom: none;
        }
    }
    .online-box-detail {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 73px;
        border: 1px solid #00CCFF;
        border-radius: 10px;
        transition: .2s linear;
        padding: 0 5px;
        p {
            font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
            font-weight: 700;
            font-style: normal;
            font-size: 14px;
            color: #00CCFF;
            margin-bottom: 0;
            line-height: 36px;
        }
    }
    .detail1 {
        top: 1px;
    }
    .detail2 {
        top: 73px;
    }
}