.login-section {
  width: 488px;
  height: 397px;
  margin: 50px 0 50px 650px;
  border: 1px solid #ccc;
  padding: 10px 40px 0;
}
.login-section a {
  color: #999;
}
.login-section input {
  outline: none;
  border: none;
  width: 200px;
  color: #999;
  vertical-align: top;
  line-height: 31px;
}
.login-section .input-box {
  border: 2px solid #33d6ff;
  border-radius: 5px;
  height: 48px;
  padding: 6.5px 5px;
}
.login-section .line-one {
  overflow: auto;
}
.login-section .line-one .logo {
  width: 123px;
  height: 62px;
  border: 1px solid #ccc;
  float: left;
  overflow: auto;
}
.login-section .line-one a {
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
}
.login-section .line-one .cannot-login {
  margin-left: 40px;
  margin-right: 8px;
  padding-right: 8px;
  border-right: 3px solid #ccc;
}
.login-section .line-two {
  margin-top: 10px;
}
.login-section .line-two .logo {
  display: inline-block;
  width: 30px;
  height: 31px;
}
.login-section .line-three {
  height: 48px;
  margin-top: 20px;
}
.login-section .line-three .logo {
  display: inline-block;
  width: 30px;
  height: 31px;
}
