input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.login-section {
  width: 359px;
  height: 273px;
  margin: 250px 0 0 800px;
}
.login-section .content {
  padding: 15px 25px;
  border-radius: 20px;
  background: #fff;
}
.login-section .content a {
  color: #999;
}
.login-section .content a:hover {
  color: #00ccff;
  text-decoration: none;
  text-shadow: rgba(153, 153, 153, 0.647) 1px 1px 2px;
}
.login-section .content input {
  outline: none;
  border: none;
  width: 85%;
  color: #999;
  vertical-align: top;
  line-height: 31px;
  margin-left: 2%;
}
.login-section .content .input-box {
  border: 2px solid #33d6ff;
  border-radius: 10px;
  height: 48px;
  padding: 6.5px 5px;
}
.login-section .content .line-one {
  overflow: auto;
}
.login-section .content .line-one a {
  display: inline-block;
  vertical-align: top;
}
.login-section .content .line-one .cannot-login {
  margin-left: 40px;
  margin-right: 10px;
}
.login-section .content .line-one .split-line {
  color: #666;
  display: inline-block;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.64);
  margin-right: 10px;
}
.login-section .content .line-two {
  margin-top: 10px;
}
.login-section .content .line-two .logo {
  display: inline-block;
  width: 30px;
  height: 31px;
}
.login-section .content .line-three {
  height: 48px;
  margin-top: 10px;
}
.login-section .content .line-three .logo {
  display: inline-block;
  width: 30px;
  height: 31px;
}
.login-section .content .line-four {
  margin-top: 15px;
}
.login-section .content .line-four .forgot-password {
  color: red;
  cursor: pointer;
}
.login-section .content .line-four .login-msg {
  min-height: 20px;
  color: red;
}
.login-section .content .line-five {
  margin-top: 15px;
}
.login-section .content .line-five button {
  outline: none;
  height: 45px;
  width: 100%;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 0%, #00ccff 100%, #00ccff 100%);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #0099ff;
  border-radius: 5px;
}
.login {
  height: 630px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.foot {
  margin-top: 40px;
}
