.member-header {
  width: 1262px;
  height: 72px;
  background: linear-gradient(180deg, #0099ff 0%, #0099ff 0%, #0099ff 45%, #ffffff 100%, #ffffff 100%);
}
.member-header .logo {
  width: 123px;
  height: 62px;
  display: inline-block;
  vertical-align: top;
}
.member-header p {
  font-family: '华文行楷';
  display: inline-block;
  color: #fff;
  text-rendering: optimizeLegibility;
  text-shadow: 3px 3px 10px rgba(102, 102, 102, 0.6);
  line-height: 72px;
  margin-bottom: 0;
}
.member-header .to-index {
  float: right;
  margin-right: 20px;
  margin-top: 15px;
}
.member-header .to-index .login-btn {
  float: right;
}
.member-header span {
  color: #FFCC33;
}
.member-header a {
  color: #FFCC33;
  text-decoration: none;
}
.member-header a :hover {
  color: #000;
}
.content #step {
  margin: 30px auto;
}
.content .step {
  display: none;
}
.content .step .input-row {
  padding-left: 360px;
}
.content .step .input-row span {
  display: inline-block;
  vertical-align: top;
  line-height: 35px;
}
.content .step .input-row .label {
  width: 60px;
  color: #33d6ff;
  padding: 0;
}
.content .step .input-row .input-box {
  display: inline-block;
  min-height: 65px;
}
.content .step .input-row .input-box input {
  width: 433px;
  height: 35px;
  border: 2px solid #33d6ff;
  border-radius: 10px;
  outline: none;
  margin-left: 15px;
  padding: 0 20px;
}
.content .step .input-row .input-box label {
  margin-left: 35px;
  line-height: 30px;
  color: red;
}
.content .step .input-row .send-code {
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
  color: #FFCC33;
}
.content .step .btn-next {
  outline: none;
  height: 45px;
  width: 200px;
  margin: 20px auto;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 0%, #00ccff 100%, #00ccff 100%);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #0099ff;
  border-radius: 5px;
}
.content .step p {
  text-align: center;
  margin: 20px auto;
  font-size: 20px;
  color: #FFCC33;
}
.content .step p a {
  display: inline-block;
  outline: none;
  font-size: 20px;
  color: #FFCC33;
  margin-left: 20px;
}
.content .step-0 {
  display: block;
}
