.full-header {
  width: 100%;
  height: 72px;
  background: linear-gradient(180deg, #0099ff 0%, #0099ff 0%, #0099ff 45%, #ffffff 100%, #ffffff 100%);
}
.full-header .register-header {
  width: 1198px;
  height: 72px;
  margin: 0 auto;
}
.full-header .register-header .logo {
  width: 123px;
  height: 62px;
  display: inline-block;
  vertical-align: top;
}
.full-header .register-header p {
  font-family: "华文行楷";
  display: inline-block;
  color: #fff;
  text-rendering: optimizeLegibility;
  text-shadow: 3px 3px 10px rgba(102, 102, 102, 0.6);
  line-height: 72px;
  margin-bottom: 0;
}
.full-header .register-header .to-index {
  float: right;
  margin-right: 20px;
  margin-top: 30px;
}
.full-header .register-header a {
  color: #ffcc33;
  text-decoration: none;
}
.full-header .register-header a :hover {
  color: #000;
}
.register-box {
  margin-left: 32px;
}
.register-box label {
  margin: 0;
}
.register-box .registerPage-header {
  width: 900px;
  height: 70px;
  padding: 30px 0 0 30px;
  margin-left: 99px;
}
.register-box .registerPage-header .btn {
  font-size: 15px;
  outline: none;
  height: 40px;
  width: 140px;
  border-radius: 0;
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  border-color: #00ccff;
  background: linear-gradient(0deg, #ffffff 0%, #ffffff 0%, #00ccff 100%, #00ccff 100%);
}
.register-box .registerPage-header .btn:hover {
  color: #fff;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 0%, #0000ff 100%, #0000ff 100%);
}
.register-box .registerPage-header .box {
  float: right;
  margin-right: 35px;
  margin-top: 10px;
}
.register-box .registerPage-header .box span {
  color: #ffcc33;
}
.register-box .registerPage-header .box a {
  text-decoration: none;
  color: #ffcc33;
}
.register-box .registerPage-header .box a:hover {
  color: #00ccff;
}
.register-box .content {
  width: 900px;
  min-height: 492px;
  border: 1px solid #17c1fe;
  margin-left: 99px;
}
.register-box .content .content-header {
  height: 62px;
  background: linear-gradient(0deg, #ffffff 0%, #ffffff 0%, rgba(109, 145, 248, 0.2) 100%, rgba(109, 145, 248, 0.2) 100%);
}
.register-box .content .content-header p {
  color: #999;
  margin: 0;
  line-height: 62px;
}
.register-box .content li {
  margin-top: 10px;
  margin-left: 190px;
}
.register-box .content li span {
  display: inline-block;
  vertical-align: top;
  line-height: 35px;
}
.register-box .content li .label {
  width: 60px;
  color: #33d6ff;
  padding: 0;
}
.register-box .content li .input-box {
  display: inline-block;
  min-height: 65px;
}
.register-box .content li .input-box input {
  width: 433px;
  height: 35px;
  border: 2px solid #33d6ff;
  border-radius: 10px;
  outline: none;
  margin-left: 15px;
  padding: 0 20px;
}
.register-box .content li .input-box label {
  margin-left: 35px;
  line-height: 30px;
  color: red;
}
.register-box .content li .radio-box {
  display: inline-block;
  width: 447px;
  height: 39px;
  padding-left: 20px;
}
.register-box .content li .radio-box input {
  line-height: 39px;
  outline: none;
}
.register-box .content li .radio-box #group {
  margin-left: 20px;
}
.register-box .content li .radio-box label {
  line-height: 39px;
  color: #999;
  cursor: pointer;
}
.register-box .content .group-li {
  display: none;
}
.register-box .content .content-member {
  margin-top: 20px;
}
.register-box .content .content-developer {
  margin-top: 20px;
  display: none;
}
.register-box .post-box {
  text-align: center;
  margin: 15px 0 30px 0;
}
.register-box .post-box .post-btn {
  outline: none;
  border-color: #0099ff;
  width: 342px;
  height: 40px;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 0%, #00ccff 100%, #00ccff 100%);
}
.register-box .post-box input {
  margin-left: 15px;
  line-height: 40px;
  cursor: pointer;
}
.register-box .post-box label {
  color: #333;
  line-height: 40px;
  cursor: pointer;
  margin-left: 5px;
}
.text p {
  text-indent: 2em;
}
